*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    width: 400px;
    height: 600px;
    background-color: rgb(99, 99, 99);
    margin: 140px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#display{
    flex: 1;
    background-color: white;
    width: 100%;
}

#controls{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}